@use 'src/Styles/mixins.scss';
@import 'src/Styles/variables.scss';

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 16px 0;
    .header__logo{
        display: flex;
        flex-direction: row;
        img {
            height: 60px;
            width: 56px;
            margin-right: 8px;
        }
    }
    .hamburger-menu {
        span {
            display: block;
            width: 24px;
            height: 2px;
            background-color: $color01;
            transition: all .4s ease;
            transform-origin: left;

            &:not(:last-child) {
                margin-bottom: 4px;
            }
        }

        &.open span {
            &:nth-child(1) {
                transform: rotate(33deg);
            }

            &:nth-child(3) {
                transform: rotate(-33deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }
        }
    }

    .header-top__control {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .social__links {
            li:not(:last-child) {
                display: none;
            }
        }
    }

    .social__links {
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: fit-content;

        li {
            padding: 0 16px;
            transition: transform .5s ease;

            &:hover {
                transform: scale(1.12, 1.12);
                transform-origin: center center;
            }

            a {
                display: block;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &:nth-child(1) a {
                background-color: $color09;
            }

            &:nth-child(2) a {
                background: radial-gradient(65% 65% at 20% 90%, #FFD43D 0%, rgba(247, 95, 43, 0.12) 100%), linear-gradient(167.77deg, #3350F3 5.05%, #D41EB0 52.59%, #F8214E 91.1%);
            }

            &:nth-child(3) a {
                background: #00D15D;
            }
        }


    }

    .header__contact {
        &>*:not(.mobile-phone-logo) {
            display: none;
        }

        display: flex;
        align-items: center;

        .phone-number {
            color: $color01;
            padding-left: 10px;
            padding-right: 16px;
            @include mixins.caption02();
        }

        .header-btn {
            background-color: $color01;
            color: $color00;
            padding: 4px 12px;
            @include mixins.button01-text();
            border-radius: 4px;
            transition: background-color .3s ease;

            &:hover {
                background-color: $color08;
            }
        }
    }

    .mobile {
        padding: 12px 0;
        position: absolute;
        left: 0;
        top: 100%;
        transform-origin: top;
        transition: all .3s ease;
        transform: scaleY(0);
        opacity: 0;
        background-color: $color00;
        opacity: 10;
        z-index: 2;

        &.open {
            transform: scaleY(1);
            opacity: 1;
        }

        .menu {
            &__item {
                display: inline-block;
            }

            &__item a {
                color: $color01;
                @include mixins.caption04();
                display: inline-block;
                padding: 6px 15px;
                border-radius: 28px;
                background-color: $color07;
                margin-bottom: 18px;
                margin-right: 12px;
            }

            margin-bottom: 32px;
        }

        .phone-number {
            @include mixins.caption04();
            color: $color01;
            margin-bottom: 5px;
        }

        p {
            @include mixins.descriptor01();
            margin-bottom: 32px;
        }

        .social__links {
            margin-bottom: 32px;

            li a {
                width: 50px;
                height: 50px;

                img {
                    transform: scale(1.6, 1.6);
                }
            }

            li:first-child {
                padding-left: 0;
            }
        }

        .header-btn {
            background-color: $color01;
            color: $color00;
            display: block;
            text-align: center;
            @include mixins.button02-text;
            padding: 22px 0;
            border-radius: 4px;
            transition: all .4s ease;
            margin-bottom: 46px;

            &:hover {
                background-color: $color08;
            }
        }

        .politics {
            @include mixins.descriptor01;
            color: $color02;
        }

    }
}


@media (min-width: 1280px) {
    .header-top {
        padding: 16px 0;

        .mobile,
        .hamburger-menu {
            display: none;
        }

        .header__contact {
            &>*:not(.mobile-phone-logo) {
                display: initial;
            }

            .mobile-phone-logo {
                display: none;
            }
        }

        .header-top__control {
            .social__links {
                li:not(:last-child) {
                    display: block;
                }
            }
        }
    }
}