*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 328px;
    margin: 0 auto;
}

@media (min-width: 1280px) {
    .container {
        max-width: 1216px;
    }
}


