@use 'src/Styles/mixins.scss';
@import 'src/Styles/variables.scss';


.hero-form {
    display: none;
}

@media (min-width: 1280px) {
    .hero {
        &-form {
            display: block;
            flex-basis: 384px;
            background-color: $color01;
            color: $color00;
            padding: 32px 40px 40px;
            font-family: 'Inter';
            overflow: hidden;

            .hero-form__info {
                flex-basis: 57px;
            }

            form {
                display: flex;
                flex-direction: column;
                height: 100%;
            }

            .form__main {
                flex: 1;
                position: relative;

                &>div {
                    position: absolute;
                    left: 800px;
                    opacity: 0;
                    width: 304px;
                }

                &>div.active {
                    left: 0;
                    opacity: 1;
                }

            }

            .form__level {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 15px;

                span {
                    display: block;
                    width: 95px;
                    height: 3px;
                    background-color: $color08;
                    transition: all .5s ease;

                    &.active {
                        background-color: $color00;
                    }
                }
            }

            .form__header {
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    color: $color03;
                    @include mixins.descriptor01;
                }

                .form__title {
                    @include mixins.text02(600);
                }
            }

            .form__step-one {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                height: 100%;

                .first-step__options {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-content: center;
                    padding: 18px 0 52px;
                }

                .option__group {
                    display: inline-block;
                    margin: 8px 0;
                }

                h3 {
                    @include mixins.caption03(600);
                }



                label {
                    @include mixins.caption02(600);
                    color: $color04;
                    display: inline-block;
                    padding: 5px 11px;
                    border-radius: 40px;
                    border: 1px solid #282828;
                    cursor: pointer;
                    transition: color .3s ease;
                }

                input {
                    display: none;

                    &.checked+label {
                        color: $color00;
                    }
                }


            }

            .form__step-two {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                height: 100%;
                font-family: 'Inter';
                padding-top: 32px;

                .second-step__options {
                    flex: 1;
                    padding: 18px 0 52px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    align-content: center;

                    span {
                        @include mixins.caption02(600);
                        color: $color04;
                        display: inline-block;
                        padding: 5px 11px;
                        border-radius: 40px;
                        border: 1px solid #282828;
                        cursor: pointer;
                        transition: color .3s ease;
                        margin-bottom: 10px;

                    }
                }

            }

            .form__step-three {
                display: flex;
                flex-direction: column;
                padding-top: 16px;
                height: 100%;

                .input__group {
                    flex: 1;
                }

                .awesome-input:not(:last-of-type) {
                    margin-bottom: 20px;
                }

                .awesome-input {
                    input {
                        @include mixins.text01(500);
                    }
                }

                button {
                    margin: 8px 0;
                }

                p {
                    @include mixins.descriptor01();
                    color: $color03;
                    border-bottom: 1px solid #929292;
                }
            }

            .awesome-input {
                position: relative;

                label {
                    position: absolute;
                    bottom: 15px;
                    left: 15px;
                    transform-origin: top left;
                    @include mixins.caption03(600);
                    font-family: 'Inter';
                    transition: all .3s ease;
                    color: $color03;
                }

                input {
                    outline: none;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid #333;
                    width: 100%;
                    padding: 10px 15px;
                    caret-color: $color00;
                    border-radius: 4px;
                    color: $color00;
                    @include mixins.caption03(600);

                    &.filled+label,
                    &:focus+label {
                        @include mixins.descriptor01();
                        bottom: 40px;
                        left: 5px;
                    }
                }
            }

            .form__btn {
                @include mixins.button02-text();
                outline: none;
                border: none;
                padding: 12px 0 14px 0;
                text-align: center;
                border-radius: 4px;
                cursor: pointer;
                background-color: $color09;
                color: $color00;
                transition: all .4s ease;
            }

            .form__btn:disabled {
                background-color: $color08;
                color: $color02;
            }
        }
    }
}