@use 'src/Styles/mixins.scss';
@import 'src/Styles/variables.scss';
@import 'src/Styles/default.scss';

.information-section {
    font-family: 'Inter';
    margin: 64px 0;

    .title {
        @include mixins.title01();
        margin-bottom: 12px;
    }

    .information__block {
        overflow-x: scroll;
        width: 100%;
        margin-bottom: 32px;
    }

    .information__types {
        padding: 11px 0 19px;
        border-bottom: 1px solid $color06;
        width: 550px;

        li {
            @include mixins.caption04();
            color: $color04;
            position: relative;
            display: inline-block;
            padding-right: 50px;
            transition: all .4s ease;

            &.active {
                color: $color02;

                &::after {
                    transform: scaleX(1);
                }
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -20px;
                left: 0;
                width: calc(100% - 50px);
                height: 2px;
                background-color: $color02;
                transition: all .3s ease;
                transform-origin: left;
                transform: scaleX(0);
            }

            span {
                position: absolute;
                top: -4px;
                right: 29px;
                @include mixins.caption01(600);
            }
        }
    }
}

@media (min-width: 1280px) {
    .information-section {
        .title {
            margin-bottom: 44px;
        }

        .information__block {
            overflow-x: visible;
            width: 100%;
        }

        .information__types {
            padding: 9px 0 18px;
            width: 100%;

            li {
                cursor: pointer;
            }
        }

        .post-block {
            display: flex;
            justify-content: space-between;
        }
    }
}